<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Handlom</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#/categorias">Categorias</a></li>
        <li><a href="#/misPlantillas">Mis plantillas</a></li>
        <li><a href="">Inicio</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi perfil <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=">Action</a></li>
            <li><a href="">Editar Perfil</a></li>
            <li><a ng-click="logoutUser()" href="">Cerrar sesión</a></li>
            <li role="separator" class="divider"></li>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<a style="" href="#/formPlantilla" class="btn btn-primary pull-right" role="button">Agregar Plantilla</a>

<br><br>
<div class="container"> 
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/website.jpg" alt="...">
            <div class="caption">
              <h3>Hotel 1</h3>
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
              <center>
              <p><a href="#" class="btn btn-primary" role="button">Eliminar</a> <a href="#" class="btn btn-default" role="button">Editar</a></p>
              </center>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/website.jpg" alt="...">
            <div class="caption">
              <h3>Hotel 2</h3>
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
              <p><a href="#" class="btn btn-primary" role="button">Eliminar</a> <a href="#" class="btn btn-default" role="button">Editar</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/website.jpg" alt="...">
            <div class="caption">
              <h3>Hotel 3</h3>
              <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
              <p><a href="#" class="btn btn-primary" role="button">Eliminar</a> <a href="#" class="btn btn-default" role="button">Editar</a></p>
            </div>
          </div>
        </div>
      </div>  
  </div>